<h1>All the Articles</h1>

<p><%= link_to "Add a new article", new_article_path %></p>

<ul>
  <% @articles.each do |art| %>
    <li><h2><%= link_to art.title, article_path(art) %></h2>
    <p><%= art.content %></p></li>
  <% end %>
</ul>
